@charset "UTF-8";

:root {
  --color-light: #FFFEF2;
  --color-dark: #303030;
}

body {
  background-color: var(--color-light);
  font-family: sans-serif;
  box-sizing: border-box;
}

.aesop {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.header-background {
  width: 100%;
  height: 85vh;
  background-image: url("../img/Aesop-Avail-Facial-Lotion-Homepage-Launch-Hero-Desktop-2880x1400px.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 50%;
}

header {
  /* lower height later */
  height: 100vh;
  color: var(--color-light);
  margin: 0 auto;
}

header a {
  color: var(--color-light);
}

.nav-top {
  display: inline-flex;
  width: 100%;
  flex-flow: row nowrap;
  font-size: 0.9em;
  font-weight: bold;
  justify-content: space-between;
}

.nav-top-sm,
.side-nav,
.hamburger-links,
.btn-close {
  display: none;
}

.nav-left,
.nav-right {
  display: inline-flex;
}

.nav-left {
  margin-top: 40px;
}

.nav-right {
  margin-top: 38px;
  margin-right: 10px;
}

.nav-left>li {
  margin-right: 25px;
}

.nav-right>li:first-of-type {
  margin-right: 30px;
}

#cart {
  font-size: 1.2em;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

#cart:hover {
  transform: scale(1.2, 1.2);
}

.nav-option {
  cursor: pointer;
}

.nav-option::after {
  transition: width .25s ease-in-out;
  background-color: var(--color-light);
  content: "";
  display: block;
  margin-top: 2.5px;
  height: 1px;
  width: 0;
}

.nav-option:hover::after {
  width: 100%;
}

.aesop-logo,
.header-content {
  margin-top: 140px;
}

.aesop-logo,
.nav-left,
.nav-right {
  padding: 0 40px;
}

.aesop-logo {
  display: inline-flex;
  float: left;

}

.aesop-logo>h1 {
  font-size: 2em;
}

.aesop-logo>span {
  font-size: 0.4em;
  align-self: flex-end;
}

.header-content {
  float: left;
  margin-left: 13%;
}

.header-content>h2 {
  font-size: 2em;
}

.header-content>p {
  margin-top: 40px;
  line-height: 1.7;
}

.explore-product {
  display: inline-flex;
  margin-top: 30px;
  width: 200px;
  height: 60px;
  padding: 0 20px 0 20px;
  background-color: transparent;
  border: 1px solid var(--color-light);
  color: var(--color-light);
  cursor: pointer;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
}

.explore-product:hover {
  background-color: var(--color-dark);
  border-color: var(--color-dark);
}

main {
  margin-top: 10vh;
}

@media only screen and (min-width: 1025px) {
    .header-content {
        white-space: wrap;
        width: 31%;
    }
}

/* Tablet */
@media only screen and (max-width: 1025px) {
  .header-background {
    width: 100%;
    height: 100%;
    background-image: url("../img/Aesop-Avail-Facial-Lotion-Homepage-Launch-Hero-Tablet-1400x1920px.jpg");
    background-position: 100% 75%;
  }

  .nav-left {
    margin-top: 38px;
  }

  .aesop-logo,
  .nav-left,
  .nav-right {
    padding: 0 35px;
  }

  .aesop-logo {
    margin-top: 115px;
  }

  .header-content {
    margin-top: 107px;
  }

  .aesop-logo>h1 {
    font-size: 1.5em;
  }

  .header-content>h2 {
    font-size: 1.7em;
  }

  .header-content {
    max-width: 410px;
    white-space: wrap;
    word-wrap: normal;
    margin-left: 15%;
  }

  .header-content>p,
  .header-content>h2 {
    white-space: normal;
  }

  .header-content>h2 {
    line-height: 1.5;
  }
}

@media only screen and (max-width: 700px) {
  .header-content {
    max-width: 350px;
    margin-left: 12%;
  }
}

/* Mobile */
@media only screen and (max-width: 640px) {

  header {
    display: grid;
    overflow: hidden;
    grid-template-columns: 100vw;
    grid-template-rows: 100vw auto;
    grid-template-areas:
      "nav"
      "header-content";
  }

  .header-background {
    width: 100%;
    height: 100vw;
    background-image: url("../img/Aesop-Avail-Facial-Lotion-Homepage-Launch-Hero-Mobile-640x640px.jpg");
    background-position: 50% 50%;
  }

  .nav-top-sm {
    display: inline-flex;
    justify-content: space-between;
    width: 50px;
    position: absolute;
    font-size: 1.2em;
    top: 0;
    right: 20px;
    margin-top: 30px;
  }

  .btn-close {
    display: inline-block;
  }

  .hamburger-nav {
    display: block;
    position: fixed;
    height: 100%;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--color-light);
    font-size: 2em;
    overflow-x: hidden;
  }

  .hamburger-links {
    display: flex;
    flex-flow: column nowrap;
    height: 200px;
    justify-content: space-between;
  }

  .hamburger-nav>a {
    color: var(--color-dark);
    transition: 1s;
  }

  #cart2 {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    z-index: 2;
  }

  #cart2:hover {
    transform: scale(1.2, 1.2);
  }

  header a {
    color: var(--color-dark);
  }

  .aesop-logo {
    grid-area: nav;
    margin-top: 27px;
    padding-left: 20px;
  }

  .aesop-logo>span {
    font-size: 0.3em;
    padding-top: 15px;
    align-self: flex-start;
  }

  .aesop-logo>h1>a {
    color: var(--color-light);
    z-index: 2;
  }

  .nav-top {
    display: none;
  }

  .header-content {
    grid-area: header-content;
    max-width: 94%;
    justify-content: center;
    background-color: rgb(246, 245, 232);
    color: var(--color-dark);
    float: none;
    white-space: nowrap;
    padding: 30px 20px;
    margin: 0 auto;
  }

  .header-content>h2 {
    line-height: 1.2;
    white-space: wrap;
    margin: 0 auto;
    font-size: 1.5em;
  }

  .header-content>p {
    width: 95%;
    line-height: 1.7;
    margin: 25px 0 0 0;
    white-space: wrap;
  }

  .explore-product {
    display: inline-flex;
    margin-top: 30px;
    width: 98%;
    font-weight: bold;
    height: 60px;
    padding: 0 20px 0 20px;
    background-color: transparent;
    border: thin solid var(--color-dark);
    color: var(--color-dark);
    cursor: pointer;
    justify-content: space-between;
    transition: all 0.2s ease-in-out;
  }

  .explore-product:hover {
    background-color: var(--color-dark);
    color: var(--color-light);
  }

  /* main content */
  main {
    margin-top: 45vh;
  }
}